.tradeUI{
    width: 100%;
    height: fit-content;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-green);
}
.trade-cont{
    width: 50%;
    height: 280px;
    border-radius: 30px;
    padding: 0 30px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.top-cont{
    display: flex;
    height: 50%;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 30px
}

.converter{
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.input-style{
    border: none;
    text-decoration: none;
    width: 85%;
    height: 50%;
    outline:none;
    font-size: 1.6rem;
    color:black;
    
    &::placeholder{
        color:black
    }

    &:focus{
        border:transparent;
        text-decoration: none;
        border-color: transparent;    
        outline:none;
    }
    &:active{
        border:none;
        text-decoration: none;
        outline:none;

    }
}


.label-text{
    text-align: left;
    width: 85%;
    color: rgb(92, 92, 92);
    font-size: 1.1rem;
    font-weight: 300;
}

.bottom-cont{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.text-cont-trade{
    display: flex;
    justify-content: space-evenly;
    justify-content: start;
}

.convert-button{
    background-color: var(--dark-green);
    border: 1px solid var(--dark-green);
    padding: 15px 35px;
    border-radius: 50px;
    color:white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;

    &:hover{
        border: 2px solid var(--dark-green);
        background-color: white;
        color:var(--dark-green);
        transition: all 0.1s ease-out;

    }
}

.output-text{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.cont-of-conts{
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: space-between;
}

.conversion-rate-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(92, 92, 92);
}