.chart-cont {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    max-height: 600px;
    margin: 50px;
    padding-bottom: 30px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.chart-table {
    width: 100%;
    border-collapse: collapse;
    padding-right: 30px;
    padding-left: 30px;
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
}

.chart-header{
    text-align: center;
    background-color: var(--light-gray);
    margin-bottom: 10px;
}

.color-header{
    display: flex;
    color: var(--white);
    font-weight: 600;
    background-color: var(--dark-green);
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.color-header p{
    background-color: transparent;
    color: var(--white);
}
/* 
.chart-header{
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid rgb(180, 179, 179);
    background-color: var(--light-green);
    z-index: -1;
} */


.table-cell {
    padding: 10px;
    border-bottom: 1px solid rgb(180, 179, 179);
    font-weight: 700;


}

.table-cell-c{
    /* color: var(--light-green); */
    padding: 10px;
    border-bottom: 1px solid rgb(180, 179, 179);
    font-weight: 700;



}
