.chart-cont {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    overflow: hidden;
    margin: 50px;
    padding-bottom: 30px;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.chart-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px rgb(200, 200, 200);
    table-layout: fixed;
}

.chart-header{
    text-align: center;
    background-color: var(--light-gray);
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 600;
}

.color-header{
    display: flex;
    color: var(--white);
    font-weight: 600;
    background-color: var(--dark-green);
    height: 50px;
    width: 100%;
    justify-content: center;
    gap: auto;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}

.color-header p{
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: var(--white);
}

/* tr td:first-child{
    text-align: left;
    padding-left: 9vw;
}
tr td:last-child{   
    padding-right: 8vw;
} */

/* 
.chart-header{
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 1px solid rgb(180, 179, 179);
    background-color: var(--light-green);
    z-index: -1;
} */


.table-cell {
    padding: 10px;
    border-bottom: 1px solid rgb(180, 179, 179);
    font-weight: 700;
    text-align: center;
}

.table-cell-c{
    /* color: var(--light-green); */
    padding: 10px;
    border-bottom: 1px solid rgb(180, 179, 179);
    font-weight: 700;
    text-align: center;
}

.filter-cont{
    margin: 0 0 10px 0;
}