.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.networth {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.graph-cont{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.chart-title{
    text-align: center;
    margin-bottom: 20px;
}

#networth_list{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0 20px 30px 0; 
    padding: 0;
}